body {
  background: black;
  color: white;
  font-size: 35px;
  font-family: fantasy;
}

@media only screen and (min-width: 600px) {
  #coming-soon {
    text-align: center;
    padding-top: 15%;
    direction: rtl;
  }
}
@media only screen and (max-width: 600px) {
  #coming-soon {
    text-align: center;
    padding-top: 20%;
    direction: rtl;
    font-size: 40px;
  }
}
